h1
{
	color: blue; text-align: right; font-family: 'Double_Signature_Italic'
}
h2
{
	color: orange;
}
body
{
	background-image: url("fde.jpeg");
}

h2
{
	border: 4px red double; box-shadow: 3px 3px 3px blue;
}
@font-face {
	font-family: 'Double_Signature_Italic';
	src: url ('Double_Signature_Italic.otf')format('otf'),
	src: url ('Double_Signature_Italic.ttf') format(truetype'),
	src: url ('Double_Signature_Italic.woff') format('woff');
}
